# General
jupyter
python-dotenv
pdf2image
numpy<2
pillow
requests

# OpenAI
openai

# MistralAI
mistralai

# Gemini
google-generativeai

# tesseract
pytesseract

# Levenshtein (edit) distance
levenshtein
